---
import "@fontsource-variable/inter";

import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import KindVisa from "~/components/kindvisas.astro";
import About from "~/components/about.astro";
import Hero from "~/components/hero.astro";
import Faq from "~/components/faq.astro";
import "~/styles/index.css";
const { generator, site } = Astro;
const image = new URL("logovisa.svg", site);
const description =
  "the best place where you can request the application process for your American visa ,  we are waiting to provide you with the best service on the market ";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logovisa.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Visa System</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Visa System" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
  </head>
  <body
    class="h-full bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Hero />
    <div class="space-y-24 px-8 py-32">
      <Features />
      <KindVisa />
      <Faq />
      <About />
      <Intro />
    </div>
    <Footer />
  </body>
</html>
